<div class="dauligor-class-options">
  <div class="dauligor-class-options__region dauligor-class-options__region--toolbar" data-region="toolbar"></div>
  <div class="dauligor-class-options__region dauligor-class-options__region--body" data-region="body"></div>
  <div class="dauligor-class-options__region dauligor-class-options__region--footer" data-region="footer"></div>
</div>
