<div class="dauligor-class-browser">
  <div class="dauligor-class-browser__region dauligor-class-browser__region--toolbar" data-region="toolbar"></div>
  <div class="dauligor-class-browser__region dauligor-class-browser__region--list" data-region="list"></div>
  <div class="dauligor-class-browser__region dauligor-class-browser__region--footer" data-region="footer"></div>
</div>
