<div class="dauligor-importer">
  <div class="dauligor-importer__body">
    <div class="dauligor-importer__panel dauligor-importer__panel--modes" data-panel="modes"></div>
    <div class="dauligor-importer__divider"></div>
    <div class="dauligor-importer__panel dauligor-importer__panel--sources" data-panel="sources"></div>
    <div class="dauligor-importer__divider"></div>
    <div class="dauligor-importer__panel dauligor-importer__panel--config" data-panel="config"></div>
  </div>
  <footer class="dauligor-importer__footer" data-panel="footer"></footer>
</div>
