<section class="dauligor-spell-manager dauligor-spell-manager--picker">
  <div class="dauligor-spell-manager__picker-layout">
    <aside class="dauligor-spell-manager__rail" data-region="rail"></aside>
    <aside class="dauligor-spell-manager__favorites" data-region="favorites"></aside>
    <section class="dauligor-spell-manager__pool-column">
      <div class="dauligor-spell-manager__meta" data-region="meta"></div>
      <div class="dauligor-spell-manager__pool-toolbar" data-region="toolbar"></div>
      <div class="dauligor-spell-manager__drawer" data-region="drawer"></div>
      <div class="dauligor-spell-manager__pool-scroll" data-region="pool"></div>
    </section>
    <aside class="dauligor-spell-manager__detail" data-region="detail"></aside>
  </div>
</section>
