<section class="dauligor-spell-manager">
  <div class="dauligor-spell-manager__layout">
    <aside class="dauligor-spell-manager__rail">
      <div class="dauligor-spell-manager__panel" data-region="classes"></div>
      <div class="dauligor-spell-manager__panel" data-region="actions"></div>
    </aside>
    <section class="dauligor-spell-manager__main">
      <div class="dauligor-spell-manager__panel" data-region="toolbar"></div>
      <div class="dauligor-spell-manager__content">
        <div class="dauligor-spell-manager__panel" data-region="list"></div>
        <div class="dauligor-spell-manager__panel" data-region="detail"></div>
      </div>
    </section>
    <aside class="dauligor-spell-manager__panel dauligor-spell-manager__panel--summary" data-region="summary"></aside>
  </div>
</section>
